{% extends "news/base.html" %}
{% block title %}Articles for {{ year }}/{{month}}{% endblock %}

{% block content %}
<h1>Articles for {{ year }}</h1>
<div id="main">
<div id="side_left">
{%block list%}
{% for article in article_list %}
    <h2><li><a href="{% url 'news:content' article.pub_date.year article.pub_date.month article.id %}">{{ article.headline }}</a></li></h2>
    <p>{{ article.reporter.full_name }}기자</p>
    <p>Published {{ article.pub_date|date:"F j, Y" }}</p>
{% endfor %}
{%endblock%}
</div>

<div id="side_right">
<h2>월별 {{year}} 년도 기사 몰아보기 </h2>
{% for article in month_list %}
    {% ifchanged %}
        <h2><li><a href="{% url 'news:article_month' article.pub_date.year article.pub_date.month%}">{{article.pub_date.month}}月</a></li></h2>
    {% endifchanged %}
{%endfor%}
</div>
</div>
<div>
<a id = "side_bottom" href="{% url 'news:article_year' year%}">돌아가기</a>
</div>

{% endblock %}