li a {
    color: gray;
}

body{
    background-color: skyblue;
}
div#side_right{
    width:30%;
    display: inline-block;
    background-color: green;
    float:right;
    margin:5px;
}
div#side_left{
    width:68%;
    display: inline-block;
    background-color:white;
    float:left;
    margin:5px;
    }
a#side_bottom{
    clear:both
}
div#content{
    display:inline-block
}
div#main{
    width: 100%;
    display:inline-flex;
}
h1#news_comp{
    color: green;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}